 <!--<div *ngIf="data$">
      <ul>
        <li *ngFor="let data of data$">
          {{ data.name }}
        </li>
      </ul>
    </div>-->

    <div class="container">
        <h2>Selecciona los campos a consultar:</h2>
        <div class="fields-container">
          <div *ngFor="let field of availableFields" class="field-item">
            <label>
              <input
                type="checkbox"
                [checked]="selectedFields.includes(field)"
                (change)="toggleField(field)"
              />
              {{ field }}
            </label>
          </div>
        </div>
        <button class="consult-button" (click)="fetchCharacters()">Consultar</button>
        <div *ngIf="loading" class="loading">Cargando...</div>
        <div *ngIf="error" class="error">Error: {{ error.message }}</div>
      
        <div *ngIf="data$" class="results-container">
          <h2>Resultados:</h2>
          <ul class="character-list">
            <li *ngFor="let character of data$" class="character-card">
              <div *ngIf="selectedFields.includes('image')" class="character-image">
                <img [src]="character.image" [alt]="character.name" />
              </div>
              <div class="character-details">
                <div *ngFor="let field of selectedFields">
                  <ng-container *ngIf="field !== 'image'">
                    <strong>{{ field | titlecase }}:</strong>
                    <span *ngIf="field === 'created'; else defaultField">
                      {{ character[field] | date: 'dd/MM/yyyy' }}
                    </span>
                    <ng-template #defaultField>
                      {{ character[field] }}
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>


      <div *ngIf="data$" class="results-container">
        <h2>Resultados:</h2>
        <ul class="character-list">
          <li *ngFor="let character of data$" class="character-card">
            <div *ngIf="selectedFields.includes('image')" class="character-image">
              <img [src]="character.image" [alt]="character.name" />
            </div>
            <div class="character-details">
              <div *ngFor="let field of selectedFields">
                <ng-container *ngIf="field !== 'image'">
                  <strong>{{ field | titlecase }}:</strong>
                  <span *ngIf="field === 'created'; else defaultField">
                    {{ character[field] | date: 'dd/MM/yyyy' }}
                  </span>
                  <ng-template #defaultField>
                    {{ character[field] }}
                  </ng-template>
                </ng-container>
              </div>
            </div>
          </li>
        </ul>
      </div>

    <!--<div class="container" *ngIf="data$">
        <h1>Personajes de Rick y Morty</h1>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Imagen</th>
              <th>Estado</th>
              <th>Especie</th>
              <th>Género</th>
              <th>Fecha de Creación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let character of data$">
              <td>{{ character.name }}</td>
              <td><img [src]="character.image" [alt]="character.name" width="50" height="50"></td>
              <td>{{ character.status }}</td>
              <td>{{ character.species }}</td>
              <td>{{ character.gender }}</td>
              <td>{{ formatDate(character.created) }}</td>
            </tr>
          </tbody>
        </table>
      </div>-->
