<div class="dashboard-container">
    <h1>Dashboard de Impuestos</h1>
  
    <!-- Tarjetas de Resumen -->
    <div class="cards-container">
      <div class="card">
        <h2>IBI</h2>
        <p class="amount">€ 1,200,000</p>
        <p class="info">Recaudado este año</p>
      </div>
      <div class="card">
        <h2>IAE</h2>
        <p class="amount">€ 850,000</p>
        <p class="info">Recaudado este año</p>
      </div>
      <div class="card">
        <h2>IVTM</h2>
        <p class="amount">€ 600,000</p>
        <p class="info">Recaudado este año</p>
      </div>
    </div>
    <ng-container *ngComponentOutlet="datosIbiShared"></ng-container>
    <ng-container *ngComponentOutlet="datosTasasShared"></ng-container>
    <ng-container *ngComponentOutlet="datosIvtmShared"></ng-container>
    <ng-container *ngComponentOutlet="datosIaeShared"></ng-container>
    
  
    <!-- Gráfico de Barras -->
    <div class="chart-container">
      <h2>Recaudación por Mes</h2>
      <canvas id="barChart"></canvas>
    </div>

  </div>
